/* variables.css */
@import url('variables.css');

.body {
  height: 100vh;
  font-family: var(--family-primary);
  background: var(--color-white);
  color: #000;
}

/* layout */
.body {
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;

  & .header {
    grid-area: header;
    height: 210px;
  }
  & .main {
    grid-area: main;
  }
  & .footer {
    grid-area: footer;
    width: 100%;
    height: 80px;
  }
}

/* Header */
.header {
  width: 100%;

  & .content-logo {
    background: var(--color-primary);
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center; /* centra en horizontal */
    align-items: flex-end; /* lleva el contenido al borde inferior */
    position: relative; /* para que el desbordamiento se “pegue” al header */
  }

  & .logo {
    border-radius: var(--border-radius-12);
    position: absolute;
    transform: translateY(50%); /* ✅ lo baja la mitad de su tamaño */
    display: flex;
    justify-content: center;
    align-content: center;
    width: 120px;
    max-width: 100%; /* ✅ se adapta en pantallas chicas */
  }
}

/* Texto de la empresa */
.content-empresa {
  width: 100%;
  height: 150px;
  padding: 15px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);

  & .content-empresa-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-10);

    & .icons-chevron {
      transform: rotate(-90deg);
      width: 23px;
    }

    & .content-icons-support {
      display: flex;
      flex-direction: column;
    }
  }
}

h1 {
  font-size: var(--size-20);
}

p {
  font-size: var(--size-14);
  color: var(--color-brack);
}

/* Lista de tableros */
.content-links {
  margin: 0px 10px 10px 10px;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);

  height: calc(100vh - 210px - 150px - 80px - 10px); /* Calcula espacio restante restando header, .content-empresa y footer */
  overflow-y: auto; /* Scroll vertical si excede */
  overflow-x: hidden; /* Evita scroll horizontal */
  border-radius: var(--border-radius-08); /* opcional, para bordes suaves */

  box-shadow: none;
  transition: box-shadow 0.3s ease;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  
  &.scroll-active {
    box-shadow: 0 4px 8px #00000071;
  }

  &.scroll-hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Edge */
  }

  .links {
    border: 1px solid var(--color-borde-caja);
    font-size: var(--size-14);
    padding: 5px 15px;
    font-weight: bold;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    border-radius: var(--border-radius-08);
    text-decoration: none;
    background: var(--color-caja-url);
    color: var(--color-brack);
    transition: background 0.3s ease;

    &:hover {
      background: var(--color-caja-url-hover);
      text-decoration: underline var(--color-borde-caja);
    }
  }
}

/* Footer */
.footer {
  padding: 1rem 4rem;
  font-family: var(--family-primary);
  font-size: var(--size-12);
  color: var(--color-caja-url);
  background: var(--color-footer);

  display: grid;
  grid-template-areas: "left center right";
  grid-template-columns: 1fr 1fr 1fr; /* 3 columnas iguales */

  & .content-footer-texto {
    font-size: var(--size-14);
    grid-area: center;
    display: grid;
    align-items: center;
    justify-content: center;

    & .content-footer-url {
      borde: 2px solid red;
      color: var(--color-caja-url);
      text-align: center;
      transition: color 0.2s ease;

      &:hover {
        color: var(--color-caja-url-hover);
        text-decoration: underline var(--color-borde-caja);
      }
    }
  }

  & .content-desarrollador {
    grid-area: right;
    display: grid;
    grid-auto-flow: column;
    align-items: center; /* Centrado vertical en la mini-grid */
    gap: var(--gap-08); /* Espacio entre el span y el link */
    justify-content: end; /* Lo empuja a la derecha */

    & .footer-desarrollador {
      color: var(--color-caja-url);
      font-size: var(--size-12);
      transition: color 0.2s ease;

      &:hover {
        color: var(--color-caja-url-hover);
        text-decoration: underline var(--color-borde-caja);
      }
    }
  }
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 880px) {
  .footer {
    padding: 2rem 0rem;
    grid-template-areas:
      "center"
      "right";
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    text-align: center;
    gap: var(--gap-10);
  }

  .content-footer-texto,
  .content-desarrollador {
    justify-self: center;
  }
}
